@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    background-color: #006a71;
    text-align: center;
    color: aliceblue;
}
h1{
    font-weight: bold;
}

header{
    margin-top: 3rem;
}

#testimonials{
    margin-top: 3rem;
    
}
.text{
    padding: 3rem;
    width: 50%;
    margin: 0px auto;
}

.fas{
    padding-right: 1rem;
}
footer {
    background-color: #b83b5e;
    font-family: sans-serif;
    text-decoration: none;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
}

footer a:hover {
    color: #00adb5;
}